.h-screen{
    height: 100vh;
}
.w-screen{
    width: 100vw;
}
.w-full{
    width: 100%; 
}
.text-sm{
    font-size: 14px;
}
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 20px;
}
.text-2xl {
    font-size: 24 px;
}
text-3xl {
    font-size: 30 px;
}
.border{
border-width: 1px;
}
.seats-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seat-row {
    display: flex;
    gap: 8px;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selected-seat {
    background-color: green;
}

.booked-seat {
    background-color: red;
}